/* roboto-black-900 */
@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: 900;
  font-variant: normal;
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* roboto-bold-700 */
@font-face {
  font-family:'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-variant: normal;
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

/* roboto-hairline/thin-100 */
@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: 100;
  font-variant: normal;
  src: url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

/* roboto-light-300 */
@font-face {
  font-family:'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  font-variant: normal;
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

/* roboto-regular-400 */
@font-face {
  font-family:'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-family: 'Roboto-Regular', sans-serif;
  font-variant: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
