//***** footer *****//
footer {
  opacity: .6;
  padding: 1.5rem;

  @media only screen and (min-width: 768px) {
    padding-left: 6.5rem;
  }
  @media only screen and (min-width: 992px) {
    padding-left: 9.5rem;
  }
}