/**** css grid *****/
nav {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  @media only screen and (min-width: 992px) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 60px;
  }
}

// .container {
//   display: grid;
//   grid-template-columns: repeat(2, 20%, 90%);
//   grid-auto-rows: min-content;
// }
