/**** css grid *****/
nav {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 60px;
  }
}

main {
  display: grid;
  margin: 1rem 0 1.5rem;
  padding: 0;
  @media only screen and (min-width: 768px) {
    grid-template-columns: 80px 2fr;
  }
}

//****** container styles ******//
.intro-area {
  padding: 2.5rem 1.5rem;
  @media only screen and (min-width: 768px) {
    padding: 0 1.5rem 0 1.5rem;
  }
  @media only screen and (min-width: 992px) {
    padding: 0 1.5rem 0 4.5rem;
  }
}

.skills-area-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  @media only screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.container-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}