//******** lists *********//
.social-media {
    cursor: pointer;
    left: 0;
    list-style: none;
    margin-bottom: 2.5rem;
    padding-left: 0;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      @media only screen and (min-width: 768px) {
        display: block;
        margin-right: 0;
        padding-bottom: 1.5rem;
      }
      > a  {
        display: block;
        &:hover {
          text-decoration: none;
        }

        span {
          vertical-align: middle;
        }

        img {
          height: 1.7rem;
          padding-right: .3rem;
          width: auto;
        }
      }
    }
  }
