/******* nav styles *******/
nav {
  padding: 1.5rem;
  .navbar-brand {
    margin-bottom: .5rem;
    text-align: center;
    text-decoration: none;
    img {
      @media only screen and (min-width: 768px) {
        display: flex;
        margin-right: .5rem;
      }
    }
    @media only screen and (min-width: 768px) {
      align-items: center;
      display: flex;
      width: 100%;
    }
    p {
      margin: .3rem;
    }
  }
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
    @media only screen and (min-width: 768px) {
      text-align: right;
    }
    .nav-item {
      font-weight: bold;
      padding: .5rem 0;
      @media only screen and (min-width: 768px) {
        display: inline-block;
      }
      .nav-link {
        color: darken($light-green, 50%);
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        @media only screen and (min-width: 768px) {
          display: inline-block;
          margin: 0 1.3rem;
        }
        &:hover {
          color: darken($light-green, 60%)
        }
      }
      .btn.btn-primary {
        display: block;
        @media only screen and (min-width: 768px) {
          display: inline-block;
        }
      }
    }
  }
}