//******* colours *********//
$light-green: #ebfff9;
$dark-grey: #4C4C4C;
$black: #000000;
$purple: #B686CB;
$white: #fff;
$link-color: #CA1EC4;

//********* global styling *********//
html {
  font-size: 16px;
}

html,
body {
  background: linear-gradient(117deg, rgba(0, 158, 111, .4), rgba(0,0,0,1) 70.71%),
              linear-gradient(336deg,rgba(0, 107, 75, 1), rgba(0,0,0,1) 70.71%),
              linear-gradient(127deg, rgba(0, 158, 111, .2), rgba(0,0,0,1) 70.71%);
  // background-image: url('/assets/images/green_circle_bkgrd.svg');
  color: $white;
  height: auto;
  margin: 0;
}

hr {
  margin: 0;
  @media only screen and (min-width: 992px) {
    display: none;
  }
}

a {
  color: $white;
}

// buttons //
.cta-btn {
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, rgba(darken($purple, 20%), 1), #CA1EC4, #852D91, #852D91, #6253e1, rgba(darken($purple, 15%), 1));
  background-size: 300% 100%;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 10px 1px rgba(126, 52, 161, 0.5);
  moz-transition: all .4s ease-in-out;
  padding: .4rem 1.2rem;
  text-align:center;
  transition: all .4s ease-in-out;
  &:focus,
  &:hover,
  &:visited {
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn.btn-primary {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(darken($light-green, 50%), 0) 50%, rgba(darken($light-green, 50%), 1) 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  border: 2px solid darken($light-green, 50%);
  border-radius: 0;
  padding: .8rem 1.5rem;
  text-decoration: none;
  transition: background-position .4s ease-out;
  span {
    color: darken($light-green, 50%);
    font-weight: 800;
    transition: color .3s ease-in-out;
  }
}

.btn.btn.btn-primary:hover,
.btn.btn.btn-primary:focus {
  background-position: -100% -0;
  box-shadow: none;
  span {
    color: $black;
  }
}

.cta-btn:not(:disabled):not(.disabled).active, .cta-btn:not(:disabled):not(.disabled):active {
  background-image: linear-gradient(to right, rgba(darken($purple, 20%), 1), #6253e1, #852D91, rgba(darken($purple, 15%), 1), #CA1EC4);
  background-position: 100% 0;
  color: $white;
}

//********* mixins *********//
// scaling font //
@mixin fluid-line-height($min-line-height: 18px, $max-line-height: 29px, $lower-range: 700px, $upper-range: 1200px) {

	line-height: calc(#{$min-line-height} + #{(($max-line-height / ($max-line-height * 0 + 1)) - ($min-line-height / ($min-line-height * 0 + 1)))} * ((100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

	@media screen and (max-width: $lower-range) {
		line-height: $min-line-height;
	}

	@media screen and (min-width: $upper-range) {
		line-height: $max-line-height;
	}
}


@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 700px, $upper-range: 1200px) {

	font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ((100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1 )))}));

	@media screen and (max-width: $lower-range) {
		font-size: $min-font-size;
	}

	@media screen and (min-width: $upper-range) {
		font-size: $max-font-size;
	}
}
