@use "../abstracts/" as *;

/* Cards
================================================== */

.card {
  border: 2px solid $dark-grey;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  @media screen and (min-width: 768px) {
    margin-right: 1.5rem;
  }
}
