@use "../abstracts/" as *;

/* Cards
================================================== */
.card.highlighted {
background: $black;
background: linear-gradient(346deg,rgba(51, 51, 0, 1) 0%, rgba(38, 33, 1, 1) 11%, rgba(0, 0, 0, 1) 36%, rgba(0, 0, 0, 1) 96%, rgba(1, 1, 0, 1) 85%);
  border: 1px solid $gold;
  .highlight-badge-wrapper {
    position: relative;
    .highlight-badge {
      background: $gold;
      border-radius: 40px;
      color: $black;
      font-weight: bold;
      left: 50%;
      margin-top: -16px;
      padding: .2rem 1rem;
      transform: translateX(-50%);
      position: absolute;
      white-space: nowrap;
    }
  }
}

.card {
  background-color: rgba(0, 0, 0, .30);
  border: 1px solid rgba(255,255,255, .4);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 0 .8rem 2rem;
  padding: 1.5rem;
  h2 {
    font-size: 25px;
    margin-bottom: .5rem;
  }
  p {
    margin-top: 0;
  }
}

.project-item {
   display: grid;
   margin: 0 -.8rem;
    @media only screen and (min-width: 768px) {
      grid-template-columns: 50% 50%;
    }
    @media only screen and (min-width: 1024px) {
      grid-template-columns: 33.3% 33.3% 33.3%;
    }
  .project-item-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 6px 6px 0 0;
    height: 15rem;
    width: 100%;
    @media only screen and (min-width: 768px) {
      height: 15rem;
    }
    @media only screen and (min-width: 992px) {
      height: 12rem;
    }
  }
  .card-footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
    padding-bottom: 1.5rem;
  }
}
