/* Lists
================================================== */

.social-media {
  cursor: pointer;
  left: 0;
  list-style: none;
  margin: 1rem 0 1.6rem;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    padding-right: 0.6rem;
    &:first-child {
      font-size: 1.6rem;
      display: block;
      margin-right: 0;
      @media screen and (min-width: 576px) {
        display: none;
      }
      p {
        margin-top: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    @media only screen and (min-width: 768px) {
      margin-right: 0;
    }
    > a {
      display: block;
      &:hover {
        text-decoration: none;
      }

      span {
        vertical-align: middle;
      }

      img {
        height: 1.7rem;
        padding-right: 0.3rem;
        width: auto;
      }
    }
  }
}
