@use "../abstracts" as *;
/* Lists
================================================== */
.social-media-list-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  @media screen and (min-width: 850px) {
    justify-content: flex-start;
  }
}
.social-media {
  cursor: pointer;
  left: 0;
  list-style: none;
  margin: 1rem 0 1.6rem;
  padding: 0;
  text-align: center;
  @media screen and (min-width: 576px) {
    text-align: left;
  }
  li {
    padding-right: 0.6rem;
    &:first-child {
      font-size: 1.3rem;
      display: block;
      margin-right: 0;
      @media screen and (min-width: 850px) {
        display: none;
      }
      p {
        margin: 0 0 0.6rem;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    @media only screen and (min-width: 768px) {
      margin-right: 0;
    }
    > a {
      text-decoration: underline;
      word-break: break-all;
      &:hover {
        text-decoration: none;
      }

      span {
        vertical-align: middle;
      }
      img {
        height: 12px;
        width: auto;
      }
    }
  }
}

.d-inline-img-text {
    align-items: center;
    display: inline-flex;
    margin-bottom: .6rem;

  * {
     align-items: center;
    display: inline-flex;
  }
  h3 {
    margin-bottom: 0;
    padding-left: .3rem;
    padding-right: .8rem;
  }
  img {
    height: 35px;
    width: auto;
  }
}

.check-list {
  list-style-type: none;
  padding-left: 0;
  li {
    background-color: rgba(0,133,133, .4);
    border-radius: 3px;
    color: $black;
    display: inline-block;
    margin: 0 2px 8px 0;
    padding: 5px 10px;
  }
  img {
    height: .8rem;
    margin-right: .3rem;
    width: auto;
  }
}

.project-tag {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 1.3rem;
  padding-left: 0;
  li {
    margin-bottom: .5rem;
    margin-right: .5rem;
    span {
      background-color: rgba(0,133,133, .4);
      border-radius: 4px;
      color: #000;
      padding: 5px 10px;
    }
  }
}