@use "../abstracts/" as *;

/* Font sizes
================================================== */

:root {
  font-size: $base-size-font;

  h1,
  .h1 {
    font-size: $heading-1;
    margin-top: 0;
  }

  h2,
  .h2 {
    font-size: $heading-2;
    margin-top: 0;
  }

  h3,
  .h3 {
    font-size: $heading-3;
    font-weight: normal;
    margin-top: 0;
  }
  h4,
  .h4 {
    margin-bottom: 0.8rem;
    margin-top: 0;
  }
}

.intro-area {
  h1 {
    margin-top: 0;
  }
}

/* Font styles
================================================== */

h1.hero-font {
  font-size: $hero-font;
  line-height: normal;
  margin-bottom: 1.5rem;
}

.thin-text {
  font-family: "Roboto-Thin", sans-serif;
}

.light-text {
  font-family: "Roboto-Light", sans-serif;
}

.work-experience {
  .job-description {
    h4 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }
}

/* Text highlight
================================================== */

.highlight {
  background-image: linear-gradient(
    to right,
    rgba(0,133,133, 0) 50%,
    rgba(0,133,133, .3) 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;
  border-radius: 3px;
  padding: 0.1rem 0.3rem;
  transition: background-position 1s ease-out;
  span {
    color: rgba($black, 0.3);
    transition: color 0.7s ease-in;
  }
}

.show-highlight {
  background-position: -99.99% 0;
  span {
    color: $black;
  }
}
