@use "../abstracts/" as *;

/* Global styling
================================================== */

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  color: $dark-grey;
  height: 100%;
  margin: 0;
  min-height: 100%;
  scroll-behavior: smooth;
}

hr {
  border-color: rgba($dark-grey, 0.3);
  border-width: 1px;
  margin: 0 0 1.8rem;
}

a {
  color: $link-color;
  text-decoration: none;
  img {
    transition: all .2s ease-in-out;
  }
  &:hover {
    img {
      transform: translateX(10px);
    }
  }
}

.text-center {
  text-align: center;
}
.social-media {
  a:hover {
    img {
      transform: translatey(-5px);
    }
  }
}
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.mb-md {
  margin-bottom: 1.5rem;
}

.lg-mb {
  margin-bottom: 3rem;
}

@media screen and (min-width: 576px) {
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .me-md {
    margin-right: 5rem;
  }
}


// @media screen and (max-width: 575px) {
//   .d-sm-none {
//     display: none!important;
//   }
// }
// @media screen and (min-width: 576px) {
//   .d-sm-block {
//     display: block;
//   }
// }

// @media screen and (min-width: 849px) {
//   .d-md-block {
//     display: block;
//   }
//   .d-md-none {
//     display: none;
//   }
//   .me-md {
//     margin-right: 5rem;
//   }
//   .md-inline-flex {
//     align-items: baseline;
//     display: inline-flex;
//     justify-content: space-between;
//     width: 100%;
//   }
// }

// @media screen and (min-width: 1199px) {
//   .d-md-flex {
//     display: flex;
//   }
//   .d-md-flex-with-wrap {
//     display: flex;
//     flex-wrap: wrap;
//   }
// }
