@use "../abstracts/" as *;

/* Global styling
================================================== */

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
}

body {
  background: linear-gradient(
      117deg,
      rgba(0, 158, 111, 0.2),
      rgba(0, 0, 0, 0.65) 70.71%
    ),
    linear-gradient(336deg, rgba(0, 107, 75, 0.65), rgba(0, 0, 0, 1) 70.71%),
    linear-gradient(127deg, rgba(0, 158, 111, 0.2), rgba(0, 0, 0, 1) 70.71%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: $white;
  height: 100%;
  margin: 0;
  min-height: 100%;
}

hr {
  border-color: $dark-grey;
  border-width: 2px;
  margin: 0 0 1.8rem;
}

a {
  color: $white;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.mb-md {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 767px) {
  .d-sm-none {
    display: none!important;
  }
}
@media screen and (min-width: 576px) {
  .d-sm-block {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .me-md {
    margin-right: 5rem;
  }
}

@media screen and (min-width: 1199px) {
  .d-md-flex {
    display: flex;
  }
  .d-md-flex-with-wrap {
    display: flex;
    flex-wrap: wrap;
  }
}
