@use "../abstracts" as *;

/* css grid
================================================== */

nav {
  display: grid;
  grid-template-columns: 25px 2fr;
  grid-template-rows: 60px;
  @media only screen and (min-width: 576px) {
     grid-template-columns: 1fr 2fr;
  }
}

main {
  margin: 1rem 0 1.5rem;
  padding: 0;
}

.intro-area {
  display: grid;
  @media only screen and (min-width: 850px) {
    grid-template-columns: 40% 60%;
  }
  @media only screen and (min-width: 992px) {
    grid-template-columns: 35% 65%;
  }
  @media only screen and (min-width: 1330px) {
    grid-template-columns: 25% 75%;
  }
}

.contact-area {
  @media screen and (min-width: 576px) and (max-width: 849px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    > div:nth-child(2) {
      margin-left: 2rem;
    }
    .text-center {
      text-align: left;
    }
    .social-media-list-wrapper {
      justify-content: flex-start;
    }
    .btn {
      width: fit-content;
    }
    .profile-img {
      margin: 0;
      max-width: 100%;
    }
  }
}

/* Container styles
================================================== */

.intro-area {
  padding: 0 1.5rem 0 1.5rem;
}

.skills-area-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  @media only screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.container-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.project-area {
  padding: 0 1.5rem 0 1.5rem;
  min-height: calc(100vh - 235px);
}