html,
body {
  background: #000000;
  color: #fff; }

.cta-btn {
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #8847a4, #CA1EC4, #852D91, #852D91, #6253e1, #9650b4);
  background-size: 300% 100%;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 10px 1px rgba(126, 52, 161, 0.5);
  moz-transition: all .4s ease-in-out;
  padding: .4rem 1.2rem;
  text-align: center;
  transition: all .4s ease-in-out; }
  .cta-btn:focus, .cta-btn:hover, .cta-btn:visited {
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
  .cta-btn a {
    color: #fff; }
    .cta-btn a:hover {
      text-decoration: none; }

.btn.btn-primary {
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(0, 235, 165, 0) 50%, #00eba5 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  border: 2px solid #00eba5;
  border-radius: 0;
  transition: background-position .4s ease-out; }
  .btn.btn-primary span {
    color: #00eba5;
    transition: color .3s ease-in-out; }

.btn.btn.btn-primary:hover,
.btn.btn.btn-primary:focus {
  background-position: -99.5% 0;
  box-shadow: none; }
  .btn.btn.btn-primary:hover span,
  .btn.btn.btn-primary:focus span {
    color: #000000; }

.cta-btn:not(:disabled):not(.disabled).active, .cta-btn:not(:disabled):not(.disabled):active {
  background-image: linear-gradient(to right, #8847a4, #6253e1, #852D91, #9650b4, #CA1EC4);
  background-position: 100% 0;
  color: #fff; }

nav {
  border-bottom: 1px solid #fff; }
  @media (min-width: 992px) {
    nav {
      border: 0; } }

.navbar-brand {
  color: #fff;
  width: 100%; }
  .navbar-brand:focus, .navbar-brand:hover {
    color: #fff; }
  @media (min-width: 768px) {
    .navbar-brand {
      width: auto; } }
