//******* font sizes *******//
h2 {
  @include fluid-type(26px, 34px);
	@include fluid-line-height(40px, 53px);
}
 //******** font styles ********//
 .thin-text {
   font-weight: 100;
 }

p.muted-text {;
  // color: darken($light-green, 60%);
  opacity: .5;
}
//*******  text highlight *******//
.highlight {
  background-image: linear-gradient(to right, rgba(darken($light-green, 50%), 0) 50%, rgba(darken($light-green, 50%), 0.5) 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  padding: 0 .2rem;
  transition: background-position 1s ease-out;
}

.show-highlight {
  background-position: -99.99% 0;
}

//******** lists *********//
.social-media {
  cursor: pointer;
  list-style: none;
  padding-left: 0;
  li {
    padding-bottom: .5rem;

    > a {
      color: $link-color;
      position: relative;

      &:hover {
        text-decoration: none;
      }

      span {
        vertical-align: middle;
      }

      img {
        height: 15px;
        padding-right: .3rem;
        width: auto;
      }
    }
    > a:before {
      background: $link-color;
      bottom: -4px;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: .25s linear;
      visibility: hidden;
      width: 100%;
    }

    > a:hover:before, a:focus:before {
      transform: scaleX(1);
      visibility: visible;
    }
  }
}
