//****** hexagon image ******//
//* hexagon variables *//
$width: 180px;

.hexagon {
  height: ($width *1.5);
  overflow: hidden;
  transform: rotate(120deg);
  visibility: hidden;
  width: $width;

  h1 {
    color: #fff;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 4rem;
    font-weight: 100;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 4px rgba($purple, 0.5);
    top: 6.2rem;
    width: 100%;
  }
}

.hex1 {
  height: 100%;
  overflow: hidden;
  transform: rotate(-60deg);
  width: 100%;
}

.hex2 {
  background-color: darken($light-green, 5%);
  height: 100%;
  position: relative;
  transform: rotate(-60deg);
  visibility: visible;
  width: 100%;
  overflow: hidden;
}

//******* icon text box *******//
.icon-text-box {
  text-align: center;
  width: 120px;

  .icon-img {
    height: 4.3rem;
    width: auto;
  }

  p {
    font-family: 'Roboto-Light', sans-serif;
  }
}

//circle image//
.circle {
  background-color: darken($light-green, 5%);
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

//******* brand image *********//
.brand-img-overlay {
  height: auto;
  left: .6rem;
  top: 3.2rem;
  position: absolute;
  width: 10rem;
}
