@use "../abstracts" as *;

/* Nav styling
================================================== */

nav {
  padding: 1.5rem;
  a.navbar-brand:hover {
    img {
      transform: translateX(0);
    }
  }
  .navbar-brand {
    color: $white;
    display: block;
    text-decoration: none;
    width: 100%;
    @media screen and (min-width: 576px) {
      align-items: center;
      display: flex;
    }
    img {
      width: 1.7rem;
      @media screen and (min-width: 576px) {
        display: flex;
        margin-right: 0.5rem;
        width: auto;
      }
    }

    p {
      margin: 0.3rem;
    }
  }
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: right;
    .nav-item.active {
      border-bottom: 2px solid darken($light-green, 50%);
    }
    .nav-item {
      font-weight: bold;
      display: inline-block;
      &:nth-child(2) {
        margin-right: 1.3rem;
      }
      .nav-link {
        color: darken($light-green, 50%);
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        margin: 0 0.6rem;
        &:hover {
          color: darken($light-green, 55%);
        }
      }
      .btn.btn-primary {
        display: inline-block;
      }
    }
  }
}
