@use "../abstracts" as *;

/* Nav styling
================================================== */
nav .nav-list .nav-item.d-none.d-md-block{
  display: none;
  @media screen and (min-width: 850px) {
    display: inline-block;
  }
}
nav {
  padding: 1.5rem;
  a.navbar-brand:hover {
    img {
      transform: translateX(0);
    }
  }
  .navbar-brand {
    color: $dark-grey;
    display: block;
    text-decoration: none;
    width: 100%;
    @media screen and (min-width: 576px) {
      align-items: center;
      display: flex;
    }
    img {
      filter: invert(1);
      width: 1.7rem;
      @media screen and (min-width: 576px) {
        display: flex;
        margin-right: 0.5rem;
        width: auto;
      }
    }

    p {
      margin: 0.3rem;
    }
  }
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: right;
    .nav-item.active {
      border-bottom: 2px solid $dark-grey;
      &:hover {
        border-bottom: 2px solid $link-color;
        * {
          color: $link-color;
        }
      }
    }
    .nav-item {
      font-weight: bold;
      display: inline-block;
      &:nth-child(2) {
        @media screen and (min-width: 849px) {
           margin-right: 1rem;
        }
      }
      .nav-link {
        color: $dark-grey;
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        margin: 0 0.6rem;
        &:hover {
          color: $link-color;
        }
      }
      .btn.btn-primary {
        display: inline-block;
      }
    }
  }
}
